form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, #f2f2f2, #c0c0c0);
  }
  
  label, input {
    margin: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"], .search {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
  }
  
  button[type="submit"]:hover, .search:hover {
    background-color: #3e8e41;
  }

  
  .error{
    color: red;
  }